NEXT_PUBLIC_SUPABASE_URL=https://xiwwiwwoiabfsekquvfa.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhpd3dpd3dvaWFiZnNla3F1dmZhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTE0NzkwNjEsImV4cCI6MjEwNzA1NTA2MX0.pCbmLUeIPRoSBaqHsjK0XMoS6fx34WIGSc7iyeee5Ps
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhpd3dpd3dvaWFiZnNla3F1dmZhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MTQ3OTA2MSwiZXhwIjoyMTA3MDU1MDYxfQ.tFYF7tkIPyekwH56M3z0O0CDlhxHr3yhWY-C8p4b4Gg
ADMIN_EMAIL=nathanag08@gmail.com
ADMIN_PASSWORD=12345ab
